<% provide(:title, 'Search Result') %>

<% content_for :page_js do %>
  <%= javascript_include_tag "DEMO/script" %>
  <%= javascript_include_tag "DEMO/page/search_index" %>
<% end %>

<% content_for :left_col do %>
	<%= render 'shared/DEMO/frame/layout/default_left_sidebar' %>
<% end %>

<% content_for :hidden do %>
	<input type="hidden" id="search-keyword" value="<%= params[:search] %>">
	<input type="hidden" id="search-feeds-page" value="0">
	<input type="hidden" id="search-files-page" value="0">
	<input type="hidden" id="search-tasks-page" value="0">
	<input type="hidden" id="search-events-page" value="0">
	<input type="hidden" id="search-polls-page" value="0">
	<%= render 'shared/DEMO/form/post_hidden_form' %>
  <%= render 'shared/DEMO/form/private_message_hidden_form' %>
  <%= render 'shared/DEMO/form/send_message_form' %>
<% end %>


<h2 class="title">Search Results</h2>
<div class="search-info"><%= @results.count %> total results for <strong><%= params[:search] %></strong></div>
<div class="wall">
	<%= render 'shared/DEMO/frame/search_feeds_filter' %>

	<ul class="feed-window">
      <li id="feeds">
          <ul class="wall-content"></ul>
      </li>
      <li id="people">
          <%= render 'shared/DEMO/frame/people_table' %>
      </li>
      <li id="groups">
      		<%= render 'shared/DEMO/frame/groups_table' %>
      </li>
      <li id="files">
      		<%= render 'shared/DEMO/frame/files_table' %>
      </li>
      <li id="tasks">
      		<%= render 'shared/DEMO/frame/tasks_table' %>
      </li>
      <li id="polls">
      </li>
      <li id="events">
      </li>
  </ul>

</div>